$section-header-height-mobile:      150px !default;

@media all and (max-width: $screen-xs-max) {

html, body {
  height: 100%;
}
body {
  padding-top: $navbar-height;
}
body > .anchor {
  height: $navbar-height;
  margin-top: -($navbar-height);
}

h2 {
  color: #000;
  font-size: 20px;
  line-height: 28px;
}

h1.slogen {
  font-size: 17px;
  line-height: 31px;
  font-weight: 600;
  span {
    font-size: 21px;
    font-weight: 200;
  }
}
.semibold-xs {
  font-weight: 600;
}
.container p {
  letter-spacing: 1.25px;
}
.container-header {
  height: $section-header-height-mobile;
  margin-bottom: 50px;
  h2 {
    letter-spacing: 0.8px;
    bottom: 35px;
  }
}
.container-body {
  h3 {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 1.25px;
  }
}

#intro {
  background-image: url('../img/_mobile/mobile_img_01.png');
  &, & > .row, & > .row > .container {
    height: 100%;
  }
  .scroll-down {
    bottom: 40px;
    .triangle {
      width: 38px;
      height: 19px;
      margin-left: -19px;
    }
  }
}
#introduction-container {
  #introduction-image {
    height: 250px;
    margin: 30px 0 20px;
    background-image: url('../img/_mobile/mobile_img_02.png');
  }
  p {
    margin-bottom: 45px;
  }
}
#services-container {
  .container-header {
    background-image: url('../img/_mobile/mobile_img_03.png');
  }
  .container-body {
    h3 {
      margin: 40px 0 45px;
    }
    p {
      margin-bottom: 90px;
    }
    .services-icon>span{
      width: 85px;
      height: 88px;
    }
  }
}
#prices-container {
  .container-header {
    background-image: url('../img/_mobile/mobile_img_04.png');
  }
  .container-body .row {
    margin-bottom: 50px;
  }
}
#contact-container {
  .container-header {
    background-image: url('../img/_mobile/mobile_img_05.png');
  }
  #colleague-1 {
    background-image: url('../img/_mobile/mobile_img_06.png');
  }
  #colleague-2 {
    background-image: url('../img/_mobile/mobile_img_07.png');
  }
  .container-body  {
    ul.info li + li {
      margin-top: 30px;
    }
    .colleagues {
      margin-top: 40px;
    }
    .colleague {
      margin-bottom: 40px;
    }
  }
}
#map {
  height: 100%;
  max-height: 450px;
  span.map {
    background-image: url('../img/_mobile/staticmap.png');
  }
}

#footer {
  font-size: 10px;
  line-height: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 1.8px;
  #copyright {
    font-size: 7px;
    letter-spacing: 1.3px;
  }
}


/* navbar transform into sidebar */
.sidebar {
  position: fixed;
  top: 61px;
  bottom: 0;
  right: 0;
  z-index: 2000;
  max-height: none;
  width: 0;
  background-color: rgba(25,26,31,.97);
  transition: width ease-in-out 200ms;
  overflow-y: auto;
  overflow-x: hidden;

  &.toggled {
    width: 200px;
  }
}

.navbar-default .navbar-nav>li>a {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-left: 30px;
  &, &:hover, &:focus, &:active {
    color: #fff;
  }
}
@media (orientation: portrait) {
  .navbar-nav {
    margin: 30px 0 10px;
  }
  .navbar-default .navbar-nav>li>a {
    line-height: 55px;
  }
}
@media (orientation: landscape) {
  .navbar-nav {
    margin: 20px 0 10px;
  }
  .navbar-default .navbar-nav>li>a {
    line-height: 35px;
  }
}
}