body > .anchor {
  display: block;
  visibility: hidden;
}
h2 {
  color: #000;
  font-weight: 600;
}
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.navbar-default {
  box-shadow: 0px -4px 10px #000;
}

body > .container-fluid > .container-header,
#intro {
  background-position: center;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#intro {
  &, & > .row, & > .row > .container {
    position: relative;
  }
  .slogen {
    position: relative;
    margin: 0;
    top: 40%;
    transform: translate(0, -50%);
  }
  .scroll-down {
    position: absolute;
    .triangle {
      display: block;
      background: url('../img/arrow_down.svg') no-repeat center transparent;
      background-size: cover;
    }
  }
}
#introduction-container {
  #introduction-image {
    padding: 0;
    background-size: cover;
    background-position: center top;
    background-color: lightgray;
  }
}
#services-container {
  .container-body {
    .services-icon>span {
      display: block;
      margin: 0 auto;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    #services-icon-1 {
      background-image: url('../img/CSK_icon_konyveles.svg');
    }
    #services-icon-2 {
      background-image: url('../img/CSK_icon_berszam.svg');
    }
    #services-icon-3 {
      background-image: url('../img/CSK_icon_ado.svg');
    }
  }
}

#contact-container {
  .colleague-image {
    width: 104px;
    height: 114px;
    display: block;
    margin-bottom: 30px;
    background-color: transparent;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #social-media-link {
    margin-top: 30px;
  }
}
#map {
  span.map {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
    background-size: cover;
  }
}

#footer {
  background-color: #03050b;
  color: #fff;
}